.resource-market {
    margin-bottom: 5px;
    img {
        width: 40px;
        height: 40px;
    }


    &_block {
        height: 40px;
        padding: 2px;
        border-color: black;
        border-radius: 3px;
        border-style: solid;
        border-width: 3px;

        &.__positioned {
            position: relative;
            vertical-align: top;
        }
    }

    div {
        display: inline-block;
    }
}


.vertical-aligned {
    vertical-align: top;
    display: inline-block;
    margin: 12px 5px;
}
